.DS_Store
.idea

log
node_modules
out
tmp

*.iml
*.log
*.swp

db/*.db
db/schema.rb

##twitter api keys
application.yml

##indico api key
indico_application.yml

##alpha vantage api key
alphavantage_apikey.yml
